/* Ajouter du style pour la barre de navigation */
nav {
    display: flex;/*horizontal*/
     justify-content: center;/*au centre*/
     background-color:#444;
     height: 70px;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 9999;
     transition: background-color 0.3s ease-in-out;
		
  }
  nav a {
    display: block;
    padding: 20px 20px;/*distance between*/
    color:#ffffffff;
    font-weight: bolder;
    text-decoration:dotted;
    font-size: 19px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease   
  }
  nav a:hover,
  nav a:focus {
    background-color: #ddd;
    color:#444;
    transform: scale(1.07);
  }

head > link[rel="shortcut icon"] {
  width: 100px;
  height: 100px;
}
.logo a{
  color: white;
  padding:0px 20px;
  border:1px solid #fff;
  position: absolute;
  top:10px;
  left:10px;
  text-transform:uppercase ;
  text-decoration: none;
  font-weight:900 ;
  text-shadow: rgba(0  ,0 ,0, 0.7);
}
.logo span {
   color:#b64332;
  font-weight: bold;
  font-size:2rem;
}

  /* GENERAL*/
 
* {  margin: 0;
    padding: 0;}

body { 
  font-family:Arial,sans-serif; 
  font-size: 15px;
  
} 
h1,h2,h3,h4 {  
   color: #444;
   text-align: center;
}
h1 { 
  font-family: 'Crete Round',serif;
  font-size: 45px;
 
}
p{ 
line-height: 20px;
  color:#777;
}
ul { 
list-style: none;
}
a{ 
  color:#444;
}

.wrapper {
  width:940px;
  margin: 0 auto;/* yhot les composants fel west*/
  padding:0 px 10 px;
}
.orange { 
color: #ff7a00;
} 
.clear { 
  clear:both;
}
small { 
font-size: 13px;
font-style:italic;
}

/*MAIN IMAGE */
#main-image {
  position: relative;
  height: 670px;
  width:100%;
  background: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80') no-repeat center ;
  background-size: cover;
}
  
#main-image h2 {
  font-weight:normal;
  text-transform: uppercase;
  text-align: center;
  margin-top:50px;
  padding-bottom: 20px;
 
}
.wrapper a{
  color: #ffffff;
}
	
.wrapper .container{
  background-color: rgba(237, 224, 224, 0.908); 
  opacity: 0.9;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  text-align: center;
}
	
.button-1 { 
  display:block;
  width:120px;
  height:50px;
  background: #b64332;
  font-size:20px; 
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.button-1:hover { 
background-color: #a13c2c;
transform: scale(1.09);
transition: transform 0.3s;
}
.carousel-control-next, .carousel-control-prev{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  size: 50px;
  color: #444;
}


/*steps*/ 
#steps ul { 
margin:80px 0;

} 
#steps ul li { 
width:300px;
  float:left;
  padding-top:140px;
  text-align: center;
  margin-right: 10px; 

} 
#steps h4 { 
  text-transform: uppercase;
  margin-bottom: 20px;
} 
#steps p {  
  margin-bottom: 20px;
}
#step-1 { 
background: url("Capture d’écran 2023-05-05 181831.png") no-repeat top center ;
padding-right: 20px;

} 
#step-2 {  
  
background:  url("Capture d’écran 2023-05-05 181920.png") no-repeat top center ;
padding-right: 20px;

} 

#step-3 { 
background:  url("Capture d’écran 2023-05-05 185032.png") no-repeat top center ;
padding-right: 20px;
}  
/*Trending Tours*/

#Tours { 
background-color: #e8e2e2c3;
padding: 10 px 0px 10px;

}
#Tours .wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  background-size: 320px 280px;
  
  
} 
#Tours article {
  position: relative;
  background-size:100% 100%;
  width:400px ; 
  height:300px;
  margin-bottom: 15px;
  border-radius:10px 10px 10px 10px;
  transition: background-size 0.25s ease-in-out;

} 

#Tours .wrapper :hover , 
#Tours .wrapper :focus {
  
  background-size: 110% 110% ;
  
} 
#Tours h3{
  padding:15px 0px 10px;/*l'element 9adech yekhou espace: Ajouter 10px de padding en haut, 0px à droite et à gauche, et 10px en bas */

}

.overlay { 
  background: rgba(255,255,255,0.95);
  position: absolute;
  width:100%;
  height: 35%;
  padding:10px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius:10px 10px 10px 10px;
 
} 
article h6 { 
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
} 
#Tours p { 
font-size: x-small;
text-align: center;
  margin-bottom: 5px;
}


/*CONTACT*/ 
#contact { 
  padding: 60px 0;
  text-align: center;
  }

#contact h3 {
      width:400px;
      text-transform: uppercase; 
      margin: 0 auto 20px auto ;
      border-bottom: 2px solid #a52a2a;
      padding-bottom: 20px;
  }

/*our happy clients*/
 #client_container{
    margin :30px 0px;
  }
.carousel {
  display:flex;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  padding: 20px 20px;
  
  
}

.carousel-container {
  display: flex;
  width: 95%;
  padding: 20px 20px;
  
  overflow: hidden;
  
  
}
.carousel-container article {
  flex: 0 0 auto;
  width: 300px ;
  padding: 10px ;
  margin:15px;
  border-radius:10px 10px 10px 10px;
  border: 1px solid #e4d7d7;
  background-color: #f4f4f4;
  
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.carousel-container :hover,
.carousel-container :focus {
  transform: scale(1.09);
}

/*l'interieur de carousel-container ne change pas de taille apres le focus*/
.carousel-container * , 
.carousel-container :hover * {
  transition: transform 0.3s;
  transform: scale(1);
}


.customer-comment{
  margin: 20px 20px 20px;
}

.customer-avatar{
  display: flex;
  align-items: center;
}

.customer-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px 5px 0px;
 
}

.comment-text {
  font-family: 'Crete Round',serif;
  font-size: 18px;
  margin-bottom: 20px 20px 20px;
}

.customer-name {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 10px 0px;
  border-bottom: 2px solid ;


}

.customer-trip {
  font-size: 14px;
  font-style: italic;
}


/*Footer*/  
footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  font-size: 14px;
}

footer .container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #777;
  text-decoration: none;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #777;
}

.social-media a img:hover {
  transform: scale(1.09);
  transition: transform 0.3s;
  
}
.copyright {
  color: #444;
  text-align:center;
  font-size: 18px;
  padding-top:25px;
  font-weight:bold;
} 
hr{
  color:rgb(150, 147, 147);
  size:3px; 
  width:30%;
  padding-left: 75%;
}
  
