*{
    padding: 0  ;
    margin: 0  ;

}
body {
    font-family:Arial,sans-serif;
    font-size: 15px;

}
h4 {
    color: #444;
    text-align: center;
}
p{
    line-height: 20px;
    color:#777;
}
ul {
    list-style: none;
}
a{
    color:#444;
}
.gimage{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(./photo/hd-wallpaper-gf6c701db6_1920.jpg);
    height: 100vh;
    background-size:cover ;
    background-position:center ;
}
nav {
    display: flex;/*horizontal*/
    justify-content: center;/*au centre*/
    align-items: center;
    background-color:#444;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: background-color 0.3s ease-in-out;

}
nav a {
    display: block;
    padding: 20px 20px;/*distance between*/
    color:#ffffffff;
    font-weight: bolder;
    text-decoration:dotted;
    font-size: 19px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
nav a:hover,  nav a:focus {
    background-color: #ddd;
    color:#444;
    transform: scale(1.07);
}

head > link[rel="shortcut icon"] {
    width: 100px;
    height: 100px;
}
.logo a{
    color: white;
    padding:0px 20px;
    border:1px solid #fff;
    position: absolute;
    top:10px;
    left:10px;
    text-transform:uppercase ;
    text-decoration: none;
    font-weight:900 ;
    text-shadow: rgba(0  ,0 ,0, 0.7);
}
.logo span {
    color:#b64332;
    font-weight: bold;
    font-size:2rem;
}
.d-flex {
    width: 200px;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left:87%;

}

.avatar {
    width: 40px;
    height: 40px;
    background-image: url('https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.show {
    display: block;
}

.dropdown-menu {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
}


.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.titre h1{
    color: #fff;
    font-size: 50px;

}
.review .box{
    padding: 10px;
    text-align: center;
    box-shadow:0 1rem 2rem rgba(0,0,0,.1);
    border-radius: 1px;
}
.review .review-slider{
    padding-bottom: 2rem;


}
.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom:1rem;


}
.review .box h3{
    color: #333;
    font-size: 1.5rem;
}
.review .box p{
    color: #666;
    font-size: 1rem;
    padding: 2rem 1;
    text-align: center;

}
.review .box .stars i{
    color:rgba(255, 174, 0, 0.993);
    font-size: 1rem;

}
.review .heading {
    font-size: 30px;
    color:black;
    text-align: center;
    margin-top:50px;
    margin-bottom:40px;
}
/*@media(max-width:700px){ ki tsaghar la fenetre kol chy yesghar solution
    na3mlou une fenetre ma tesgharech
    .titre h1{
        color: #fff;
        font-size: 20px;

    }
    .principale.logo{
        font-size: 10px;
    }
    ul li {
        display: block;
    }

}*/

/*------localisation---*/
.local{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;

}
.local-col{
    flex-basis:32%;
    border-radius:20px;
    margin-bottom:30px;
    position:relative;
    overflow:hidden;
    float:left;
    margin-left: 30px;
    /*hi*/
    display: inline-block;
    margin-right: 40px; /* for adding a margin between each image */
    text-align: left;


}
.local-col img{
    width:200px;
    height: 200px;
    display: block;




}

.layer{
    background: transparent;
    height:200px;
    width :200px;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width:100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom:0;
    left: 80%;
    transform: translateX(-50%);
    position: absolute;
    opacity:0;
    transition:0.5s;

}
.layer:hover h3{
    bottom:49%;
    opacity: 1.5;
}

.local .row {
    display: flex;
    justify-content: center;
}
.local {
    margin-bottom: 40px;

}
.local .row{
    margin-top: 20px;

}
/*partie en savoir plus*/
/*section{padding:5rem 10%*/
.btn{
    display: inline-block;
    font-size: 15px;
    padding:1rem 3rem;
    background-color: #d083e3;
    color:black;
    cursor:pointer;
    text-decoration: none;



}
.btn:hover{
    background: #a5a0a0;
}
.home-about{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-about .image{
    flex: 1 1 10rem;
}
.home-about .image img{
    width: 100%;
}
.home-about .content{
    flex:1 1 20rem;
    padding:10px;
    background:lightgray;
}
.home-about .content h3{
    font-size: 30px;
    color:black;
}
.home-about .content p{
    font-size: 15px;
    padding: 1rem 0;
    line-height: 2;
    color: black;
}



/*.swiper {
    width: 100%;
    height: 100%;
  }

 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }*/



.commentaires {
    background-color: #f2f2f2;
    padding: 20px;
}

.commentaires h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.commentaires label {
    display: block;
    margin-bottom: 5px;
}

.commentaires input[type="text"],
.commentaires input[type="email"],
.commentaires textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.commentaires textarea {
    height: 150px;
}

.commentaires input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.commentaires input[type="submit"]:hover {
    background-color: #45a049;
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.25s;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: #FFD700;
}
.directoryPresentation img{
    width: 100%;
    height: auto;
}
/*Footer*/
footer {
    background-color: #f5f5f5;
    padding: 40px 0;
    font-size: 14px;
}

footer .container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

footer h4 {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #777;
    text-decoration: none;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;

}

.social-media a img:hover {
    transform: scale(1.09);
    transition: transform 0.3s;


}
.copyright {
    color: #444;
    text-align:center;
    font-size: 18px;
    padding-top:25px;
    font-weight:bold;
}
hr{
    color:rgb(150, 147, 147);
    size:3px;
    width:30%;
    padding-left: 75%;
}
footer {
    background-color: #f5f5f5;
    padding: 40px 0;
    font-size: 14px;
}

footer .container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .column {
    flex-basis: 25%;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #777;
    text-decoration: none;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #777;
}

.social-media a img:hover {
    transform: scale(1.09);
    transition: transform 0.3s;
}

hr {
    color: rgb(150, 147, 147);
    size: 3px;
    width: 30%;
    margin: 0 auto;
}

footer .copyright {
    color: #444;
    text-align: center;
    font-size: 18px;
    padding-top: 25px;
    font-weight: bold;
